<p id="notice"><%= notice %></p>


<p>
  <strong>Comment:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>