<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @pro.author %>
</p>

<p>
  <strong>Week:</strong>
  <%= @pro.week %>
</p>

<p>
  <strong>Qb:</strong>
  <%= @pro.qb %>
</p>

<p>
  <strong>Rb1:</strong>
  <%= @pro.rb1 %>
</p>

<p>
  <strong>Rb2:</strong>
  <%= @pro.rb2 %>
</p>

<p>
  <strong>Wr1:</strong>
  <%= @pro.wr1 %>
</p>

<p>
  <strong>Wr2:</strong>
  <%= @pro.wr2 %>
</p>

<p>
  <strong>Wr3:</strong>
  <%= @pro.wr3 %>
</p>

<p>
  <strong>Te:</strong>
  <%= @pro.te %>
</p>

<p>
  <strong>Kick:</strong>
  <%= @pro.kick %>
</p>

<p>
  <strong>Article:</strong>
  <%= @pro.article %>
</p>

<%= link_to 'Edit', edit_pro_path(@pro) %> |
<%= link_to 'Back', pros_path %>
